#cadastro{
    border-radius: 0;
    background-color: blue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;


}
body {

    border: 
}
h2{
    border: solid;
    border: bottom 10px;;
}
button{
    text-align: center;
}
